<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All test suite">
    <test name="/Users/omar.ladino/Desktop/WebAutomationFirstExercise">
        <classes>
            <class name="org.com.tests.DemoAppTests"></class>
        </classes>
    </test>
</suite>